modules = ["nodejs-20", "python-3.11"]
run = "npm run dev"

[deployment]
run = ["sh", "-c", "npm run start"]

[nix]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 24678
externalPort = 80
